/*将所有带边界或者内边距的清零*/
*{
	padding: 0px;
	margin: 0px;
}
/*设置整个页面的字体及文字颜色*/
body{
	font-family: arial,宋体,serif;
	font-size: 12px;
	color: #534616;
	background: #F9F0CF url(../img/header.jpg) repeat-x left top;
	height: 180px;
}
#wrapper{
	width: 960px;
	margin: 0 auto;/*将整个网页居中显示*/
}
#header{
	width: 100%;
	height: 250px;
}
#header #logo{  /*后代选择器*/
	color: gray;
	font-size: 28px;
	padding-top: 10px;
	float: left;
	margin-left: 50px;
}

 a{    /*将整个页面的超链接下划线去掉*/
	text-decoration: none;
}
/*伪元素选择器，未访问过链接的颜色*/
a:link{
	color: darkgray;
}

#logo a{
	color: darkgray;
}
/*伪元素选择器，已访问过链接的颜色*/
a:visited{
	color: green;
}
/*伪元素选择器，鼠标悬浮时链接的颜色*/
a:hover{
	color: red;
}
#main{
	width: 100%px;
	height: auto;
	margin-top: 20px;
}
#left{
	width: 25%;
	height: 98%;
	float:  left;
}
#right{
	width: 72%;
	height: 98%;
	float: right;
}
#footer{
	width: 100%;
	height: 90px;
	background: gray;
	margin-top: 8px;
	float: left;
	background: #D5E2CB;
	padding: 20px;
	text-align: center;
}

#search{
	float: right;
	margin-top: 15px;
}

#search .stxt{
	width: 180px;
	height: 20px;
}
#search .go{
	width: 30px;
	height: 24px;
}
/*所有的ul不带指示器*/
ul{
	list-style-type: none;
}

#nav ul li a{
	float: left;
	margin-right: 28px;
	font-size: 24px;
	color: #D1C091;
	background: url(../img/nav_line.png) no-repeat right top;
	/*text-align: center;*/
	width: 100px;
}

#nav{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 150px;
	margin-left: 50px;
}
#nav ul li a:hover{
	text-decoration: underline;
}
/*左侧侧边栏样式*/
.title{
	width: 100%;
	height: 50px;
	background: #D5E2CB;
	line-height: 50px;
	text-indent: 20px;//左缩进
}
.content{
	padding-left: 20px;
	padding-right: 20px;
	line-height: 20px;
	color: #787878;
	border: 1px solid #D6E6CC;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.content li{
	line-height: 25px;
	border-bottom: dashed 1px #D1D1D1;
}

p{
	margin: 10px;
}
#left .content,#right .content{
	background: #F4FAF0;
}
